mat-card img {
    max-height: 120px;
    object-fit: contain;
  }


  h2{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 20px 0;
    color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  